#dashboard-Div{
  height: 375px;
  overflow: hidden;
}
#dashboardData {
  display: grid;
  /* grid-template-columns: 150px 150px; */
  grid-template-columns: 150px 150px 150px ;
  grid-column-gap: 0.7rem;
  grid-row-gap: 0.7rem;
}

.data {
  height: 89px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0.9rem 0.7rem;
  border-radius: 1rem;
  font-size: 0.6rem;
  font-weight: 815;
}

#data {
  outline-color: black;
  height: 35px;
  width: 471px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  background: white;
  grid-column: 1/3;
} 
/*#data { 
  height: 35px;
  width: px;
  grid-column: 1/3;
} */

#categoryDiv p {
  font-size: 0.5rem;
}

.dashboard-poPup {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background: white;
  box-shadow: 50px 10px 20px 500px rgba(0, 0, 0, 0.65);
}

#categoryModel {
  position: absolute;
  top: 29px;
  right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.15);
  overflow: scroll;
  height: 300px;
}

.category-model h2 {
  position: sticky;
  font-size: 0.9rem;
  padding: 0.2rem 1rem;
  top: -41px;
  border-radius: 1em;
  box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.category-model button {
  margin-top: 0.7rem;
  outline-color: black;
}
.categoryBTN{
  background: white;
}
 .warning-Card{
  
  padding: 2rem;
}
