body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    color: black;
    text-align: center;
    line-height: 1.2;
    font-family: system-ui;
    background: white;
    color: black;
    outline-color: black;
    overflow-x: hidden;
}
main{
    padding: 1rem;
    margin-left: 9rem;
}
h1{
    font-size: 1.4rem;
}
* {
    font-family: inherit;
    background: inherit;
    color: inherit;
    outline-color: black;
}

nav {
    position: absolute;
    top: 0;
    left: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
    width: 150px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

nav a {
    text-decoration: none;
    cursor: no-drop;
    color: inherit;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

input {
    border: 1px solid white;
    padding: 0.5rem;
    width: 281px;
    border-radius: 0.9rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    outline-color: black;
}

.home-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

button {
    padding: 0.5rem 2.1rem;
    border-radius: 0.9rem;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    background: white;
    transition: box-shadow 0.1s;
}

button:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.item-Card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0.5rem;
    gap: 1rem;
}

.item-Card button {
    padding: 0.9rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 1rem;
}

.Card {
    width: 400px;
    display: flex;
    padding: 0.1rem 2rem;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    font-size: 0.7rem;
}

.Card .category {
    background: #606060;
    color: #D0D0D0;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.tracks {
    height: 264px;
    overflow: scroll;
}

/* @media (min-width:600px) {
    .home-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        gap: 7rem;
    }
    
} */

.deleteSure-model{
    position: absolute;
    bottom: 27px;
    left: 300px;
    padding: 2rem;
    border-radius: 1rem;
    background: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.item-headings{
    background: white;
    color: black;
    border-radius:  1rem;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    width: 451px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}